{% extends "market/base.html" %}

{% block content %}
    <head>
        <title>Редагування профілю</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
    <div class="bg-white flex items-center justify-center min-h-screen">
        <div class="bg-white p-10 rounded-lg shadow-lg w-96 border">
            <h2 class="text-2xl text-center font-bold mb-4">Оновлення даних профілю</h2>
            <form class="items-center" method="POST">
                {% csrf_token %}
                <div class="mb-2">
                    <label class="block  text-gray-700 text-sm font-bold mb-2">Старий пароль</label>
                    {{ form.old_password }}
                </div>
                <div class="mb-2">
                    {{ form.new_password1.errors }}
                    <label class="block text-gray-700 text-sm font-bold mb-2">Новий ароль</label>
                    {{ form.new_password1 }}
                </div>
                <div class="mb-2">
                    {{ form.new_password2.errors }}
                    <label class="block text-gray-700 text-sm font-bold mb-2">Підтвердіть новий пароль</label>
                    {{ form.new_password2 }}
                </div>
                <button class="mt-4 w-full bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
                        type="submit">Змінити пароль
                </button>
        </div>
    </div>
{% endblock content %}
