{% extends "market/base.html" %}

{% block title %}Профіль користувача{% endblock %}

{% block content %}
    {% if user.profile %}
    <div class="grid p-10 grid-cols-1 lg:grid-cols-3 sm:grid-cols-1">
        <div class="rounded shadow-lg">
            <div>
               {% if user.profile.image %}
                    <img class="" src="{{ user.profile.image.url }}">
               {% endif %}
            </div>
        <div class="text-4xl">
            Профіль користувача :
        </div>
        <h1 class="font-bold text-xl m-2">{{ user.username }}</h1>
        <h1>Номер телефону : {{ user.profile.contact }}</h1>
            <h1>Імя : {{ user.profile.firstName }}</h1>
            <h1>Прізвище : {{ user.profile.firstName }}</h1>
        </div>
    </div>
        {% else %}
        <form action="" method="post">
        <h1>Form Profile</h1>
        </form>
    {% endif %}
{% endblock %}