{% extends "market/base.html" %}

{% block content %}
    <body class="w-full h-full">
    <h2 class="text-2xl text-center font-bold mb-4">Registration Form</h2>
    <div class="container mx-auto max-w-lg py-8 flex justify-center items-center shadow-md m-10">
        <form class="content bg-white-700 rounded px-8 pt-6 pb-8 mb-4 space-y-4" method="POST">
            {% csrf_token %}
            <div class="mb-2">
                <label class="block text-gray-700 text-sm font-bold mb-2">Username</label>
                {{ form.username }}
            </div>
            <div class="mb-2">
                <label class="block text-gray-700 text-sm font-bold mb-2">Email</label>
                {{ form.email }}
            </div>
            <div class="mb-2">
                {{ form.password1.errors }}
                <label class="block text-gray-700 text-sm font-bold mb-2">Password</label>
                {{ form.password1 }}
            </div>
            <div class="mb-2">
                {{ form.password2.errors }}
                <label class="block text-gray-700 text-sm font-bold mb-2">Confirm Password</label>
                {{ form.password2 }}
            </div>
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    type="submit">Register
            </button>
        </form>
    </div>
    </body>
{% endblock content %}
