{% extends 'market/base.html' %}

{% block content %}
    <div class="container mx-auto mt-10 px-12 p-6 bg-white shadow-lg rounded-lg">
        <h2 class="text-2xl font-bold mb-4 text-center">Підтвердження замовлення</h2>
        <div class="card mb-6">
            <div class="card-body">
                <h5 class="text-xl font-semibold mb-4">Товари у вашому замовленні:</h5>
                <div class="mb-4">
                    {% for cart_item in cart_items %}
                        <div class="flex mb-4 items-center shadow-lg p-4 bg-gray-50 rounded-lg">
                            <div class="w-1/4">
                                <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.title }}" class="w-200px h-48 object-cover rounded-lg">
                            </div>
                            <div class="w-3/4 pl-4">
                                <p class="text-lg">{{ cart_item.product.title }} ({{ cart_item.quantity }} шт.) - {{ cart_item.product.price }} грн за одиницю</p>
                            </div>
                        </div>
                    {% endfor %}
                    <p class="font-bold text-xl">Загальна вартість: {{ total_price }} грн</p>
                </div>

                <h5 class="text-xl font-semibold mb-4">Дані для зв'язку:</h5>
                <div id="contactInfo" class="mb-4">
                    <p class="text-lg"><strong>Ім'я:</strong> {{ profile.firstName }}</p>
                    <p class="text-lg"><strong>Прізвище:</strong> {{ profile.lastName }}</p>
                    <p class="text-lg"><strong>Телефон:</strong> {{ profile.contactNumber }}</p>
                    <p class="text-lg"><strong>Електронна пошта:</strong> {{ profile.email }}</p>
                </div>

                <form action="{% url 'order:process-order' %}" method="post">
                    {% csrf_token %}
                    <div class="mb-4">
                        <label for="paymentMethod" class="block text-lg font-medium">Спосіб оплати:</label>
                        <select id="paymentMethod" name="paymentMethod" class="block w-full mt-1 p-2 border rounded-lg">
                            <option value="creditCard">Кредитна картка</option>
                            <option value="cash">Готівкою</option>
                            <option value="WayForPay">WayForPay</option>
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="delivery_method" class="block text-lg font-medium">Спосіб отримання:</label>
                        <select id="delivery_method" name="delivery_method" class="block w-full mt-1 p-2 border rounded-lg" onchange="toggleDeliveryAddress(this)">
                            <option value="pickup">Самовивіз</option>
                            <option value="delivery">Доставка</option>
                        </select>
                    </div>

                    <div id="deliveryAddress" class="mb-4 hidden">
                        <label for="delivery_address" class="block text-lg font-medium">Адреса доставки:</label>
                        <input type="text" id="delivery_address" name="delivery_address" class="block w-full mt-1 p-2 border rounded-lg" placeholder="Введіть вашу адресу">
                    </div>

                    <button type="submit" class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-700">Підтвердити замовлення</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        function toggleDeliveryAddress(select) {
            const deliveryAddress = document.getElementById('deliveryAddress');
            if (select.value === 'delivery') {
                deliveryAddress.classList.remove('hidden');
            } else {
                deliveryAddress.classList.add('hidden');
            }
        }
    </script>
{% endblock %}
