{% extends 'market/base.html' %}
{% block content %}
    <h1 class="text-center text-4xl">Інформація про замовлення</h1>
    <div>
        <p><strong>Номер замовлення :</strong> {{ order.id }}</p>
        <p><strong>Статус :</strong> {{ order.status }}</p>
        <p><strong>Дата створення :</strong> {{ order.created_at }}</p>
        <p><strong>Загальна вартість :</strong> {{ order.total_price }}</p>
        <p><strong>Спосіб отримання :</strong> {{ order.delivery_method }}</p>
        <p><strong>Метод оплати :</strong> {{ order.payment_method }}</p>
    </div>
    <div class="flex-column items-center">
        <h3>Товари:</h3>
        <ul>
            {% for order_item in order.orderitem_set.all %}
                <li>{{ order_item.product }} - {{ order_item.quantity }}</li>
            {% endfor %}
        </ul>
    </div>
        <form action="{% url 'order:cancel-order' order_id=order.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="bg-red-500 text-white px-4 py-2">Відмінити замовлення</button>
        </form>
{% endblock %}
