{% extends 'market/base.html' %}
{% block content %}
    <!DOCTYPE html>
    <html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Замовлення №{{ order.id }}</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
    </head>
    <body class="bg-gray-100 min-h-screen flex flex-col">
    <div class="container h-auto w-full mx-auto px-4 py-8 flex-grow">
        <div class="text-center text-4lx">
            <h2 class="text-3xl mb-2 font-semibold">Замовлення №{{ order.id }}</h2>
            <p class="mb-2"><strong>Статус:</strong> {{ order.status }}</p>

        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12">
            <div class="bg-white rounded-lg shadow p-6">
                {% for order_item in order.orderitem_set.all %}
                    <div class="border-b py-4">
                        <div class="flex items-center mb-4">
                            <img src="{{ order_item.product.image.url }}" class="bg-gray-200 h-16 w-16">
                            <div class="ml-4">
                                <h3 class="text-lg font-semibold">{{ order_item.product }}</h3>
                                <p class="text-gray-600">{{ order_item.quantity }} шт.</p>
                                <p class="text-green-500 font-semibold mt-2">{{ order_item.price }} ₴</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                <div class="py-4">
                    <p class="text-lg font-semibold">Сума замовлення: <span
                            class="text-green-500">{{ order.total_price }} ₴</span></p>
                </div>
            <div>
                <h2 class=""><strong>Коментар</strong></h2>
                <p>{{ order.comment }}</p>
            </div>
            </div>
            <div class="bg-white rounded-lg shadow p-6">
                <h2 class="text-2xl text-center font-semibold mb-4">Контактні дані</h2>
                <h2 class="text-xl font-semibold mb-2 mt-6">Імя та прізвище</h2>
                <p class="mb-2">{{ user.profile.firstName }} {{ user.profile.lastName }}</p>
                <h2 class="text-xl font-semibold mb-2 mt-6">Номер телефону</h2>
                <p class="mb-2">{{ user.profile.contactNumber }}</p>
                <h2 class="text-xl font-semibold mb-2 mt-6">Спосіб доставки</h2>
                <p class="mb-2">{{ order.get_delivery_method_display }}</p>
                <h2 class="text-xl font-semibold mb-2 mt-6">Спосіб оплати</h2>
                <p class="mb-2">{{ order.get_payment_method_display }}</p>
                <h2 class="text-xl font-semibold mb-2 mt-6">Дата покупки</h2>
                <p class="mb-2">{{ order.created_at }}</p>
            </div>
        </div>
        <div class="flex justify-between mt-8">
            <a href="{% url 'market:catalog' %}" class="bg-red-500 text-white px-4 py-2 rounded">Продовжити покупки</a>
            {% if order.status == 'Опрацювання' %}
                <form action="{% url 'order:cancel-order' order_id=order.id %}" method="post"
                      class="text-center">
                    {% csrf_token %}
                    <button type="submit" class="border border-red-500 text-red-500 px-4 py-2 rounded">
                        Відмінити
                        замовлення
                    </button>
                </form>
            {% endif %}
        </div>
    </div>
    </body>
    </html>
{% endblock %}
