{% extends 'market/base.html' %}

{% block content %}
    <body class="bg-gray-100 min-h-screen flex flex-col">
    <main class="container h-auto w-full mx-auto px-4 py-8 flex-grow">
        <div class="bg-white px-4 py-4 rounded-lg text-center">
            <h2 class="text-2xl font-bold mb-4">Замовлення підтверджено!</h2>
            <p class="text-lg mb-6">Дякуємо за ваше замовлення. Ваше замовлення було успішно прийнято .</p>
            <a href="{% url 'market:index' %}"
               class="mt-6 bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-700">Повернутися на головну</a>
            <a href=""
               class="mt-6 bg-green-500 text-white py-2 px-4 rounded-lg hover:bg-green-700">Переглянути замовлення</a>
        </div>
    </main>
    </body>
{% endblock %}