{% extends "market/base.html" %}

{% block content %}
<body>
<div class="ml-[200px]">
     <h1 class="text-2xl ml-10 front-bold text-gray-500"> Додати новий товар</h1>
     <form class="w-1/3 bg-white shadow-md m-10 px-8 py-8" method="post" enctype="multipart/form-data">
     {% csrf_token %}
          <div class="mb-4 ">
            <label class="block text-gray-700 text-md font-bold mb-2" for="name">Назва товару</label>
              <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" placeholder="Name..." name="title" id="title">
            <label class="block text-gray-700 text-md font-bold mb-2" for="brand">Виробник</label>
              <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" placeholder="Name..." name="brand" id="brand">
              <label class="block text-gray-700 text-md font-bold mb-2" for="price">Категорія</label>
              <div>
              {% if categories %}
              <select id="select">
                  <option value="categories.slug">{{ categories.name }}</option>
              </select>
              {% endif %}
          </div>
            <label class="block text-gray-700 text-md font-bold mb-2" for="price">Ціна</label>
            <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" placeholder="Price..." name="price" id="price">
            <label class="block text-gray-700 text-md font-bold mb-2" for="description">Опис</label>
            <input class="shadow appearance-none border rounded py-2 px-3 mr-10 text-gray-700" type="text" placeholder="Description..." name="description" id="description">
            <input class="block mt-4" type="file" accept="image/*" name="upload" id="upload">
           <button class="block bg-green-600 text-black p-3 mt-4" type="submit" name="Add Product" value="Add Product">Add Product</button>
          </div>
     </form>
</div>
</body>

{% endblock content %}