<!DOCTYPE html>
{% extends "market/base.html" %}
{% load static %}

{% block content %}
    <div class=" mx-auto sm:px-6 lg:px-8">
        <div class="flex flex-col lg:flex-row-reverse">
            <!-- Sidebar for Category Selection on the right -->
            <aside id="sidebar" class="w-1/5 px-2 sm:px-0 lg:px-2 overflow-y-auto mt-2 shadow-lg">
                {% if categories %}
                    <form method="get" action="{% url 'market:catalog' %}" class="sticky top-20 py-8">
                        <h3 class="text-2xl font-bold mb-4">Категорії</h3>
                        <div class="space-y-2">
                            <a href="{% url 'market:catalog' %}">Скинути</a>

                            {% for c in categories %}
                                <div class="flex items-center">
                                    <input type="radio" id="{{ c.slug }}" name="category" value="{{ c.slug }}"
                                           class="mr-2">
                                    <label for="{{ c.slug }}" class="text-lg">{{ c.name }}</label>
                                </div>
                            {% endfor %}
                        </div>
                        <button class="mt-4 w-full bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                                type="submit">Фільтрувати
                        </button>
                    </form>
                {% endif %}
            </aside>

            <!-- Main Content -->
            <main class="flex-1">
                <div class="text-center lg:text-left">
                    {% if category %}
                        <h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl md:text-6xl">{{ c.name }}</h2>
                    {% else %}
                        <h2 class="text-4xl font-extrabold text-gray-900 sm:text-5xl text-center md:text-6xl">Всі
                            товари</h2>
                    {% endif %}
                </div>
                <div class="mt-4">
                    <div class="text-center lg:text-left ">
                        <form method="get" action="{% url 'market:catalog' %}" class="inline-block">
                            <label for="sort" class="mr-2">Сортувати за:</label>
                            <select name="sort" id="sort"
                                    class="border-gray-300 focus:border-green-500 focus:ring focus:ring-green-200 focus:ring-opacity-50 rounded-md shadow-sm">
                                <option value="">Без сортування</option>
                                <option value="min_price">Мінімальна ціна</option>
                                <option value="max_price">Максимальна ціна</option>
                            </select>
                            <button type="submit" class="ml-2 bg-green-500 hover:bg-green-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
                                Застосувати
                            </button>
                        </form>
                    </div>
                    <div class="p-10 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">
                        {% for product in products %}
                            <a href="{% url 'market:detail' product.id %}"
                               class="block rounded overflow-hidden shadow-lg hover:shadow-xl transition-shadow duration-200">
                                <img class="w-full h-48 object-cover" src="{{ product.image.url }}" alt="">
                                <div class="px-6 py-4">
                                    <p class="font-bold text-xl mb-2">{{ product.title }}</p>
                                    <p class="text-lg text-indigo-500 mb-2">Виробник: {{ product.brand }}</p>
                                    <p class="font-bold text-xl text-green-500">{{ product.price }} ₴</p>
                                </div>
                            </a>
                        {% empty %}
                            <div class="text-4xl font-extrabold text-gray-900 sm:text-5xl md:text-4xl">Товари не
                                знайдено
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>

{% endblock content %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const button = document.getElementById('toggleSidebar');
        const sidebar = document.getElementById('sidebar');

        button.addEventListener('click', function () {
            sidebar.classList.toggle('hidden');
        });
    });
</script>
