<!DOCTYPE html>
{% extends "market/base.html" %}
{% load humanize %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ product.name }}</title>
</head>
<body>
{% block content %}
   <div class="flex p-10 w-full h-200px">
      <img class="w-1/3 h-1/3" src="{{ product.image.url }}" alt="ProductPhoto">
      <div class="w-2/3 text-xl ml-10 mt-5">
       <p class="mt-5">{{ product.title }}</p>
       <p class="mt-5 text-green-500">{{ product.price | intcomma }} грн.</p>
       <p class="mt-5 text-gray-600">{{ product.description }}</p>
       <button class="bg-green-500 text-white mt-[50px]"><a href="{% url 'market:update_product' product.id %}">Update</a></button>
        <button class="bg-green-500 text-white mt-[50px]" text-sm><a href=>Додати в кошик </a></button>
       <button class="bg-red-500 text-black mt-[50px]"><a href="{% url 'market:delete_product' product.id %}">Delete</a></button>
       
      </div>
   </div>
{% endblock content %}
</body>
</html>
